body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'VAG World Bold';
	src:
		url('../fonts/vag_world_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/vag_world_bold.woff') format('woff'),/* Firefox >= 3.6, any other modern browser */
}